#myCarousel.carousel.slide
    .carousel-inner
        .item.active
          img(src='/images/1.jpg', alt='',align='middle')
          .container
            .carousel-caption
              h1 Lootera
              p.lead
                | most awaiting movie of the year 
        .item
          img(src='/images/2.jpg', alt='',align='middle')
          .container
            .carousel-caption
              h1 Special 26
              p.lead
                | best bollywood con movie
              a.btn.btn-large.btn-primary(href='#') Learn more
        .item
          img(src='/images/3.jpg', alt='',align='middle')
          .container
            .carousel-caption
              h1 Tapsee bolloywood entry
              p.lead
                | taappsee entering bollywood with bang              
      a.left.carousel-control(href='#myCarousel', data-slide='prev') ‹
      a.right.carousel-control(href='#myCarousel', data-slide='next') ›
