.masthead
      h3.muted faadumovie
        .navbar
          .navbar-inner
            .container
              ul.nav
                li.active
                  a(href='/') Home
                li
                  a(href='/') Reviews
                li
                  a(href='/') List
                li
                  a(href='/') About
                li
                  a(href='/') Contact