extends ../cmslayout
block header
  include header
  if(cms.header)
    | !{cms.header}
block content
  .media
    .media-body
      h4.media-heading !{cms.title}
      if(cms.content)
      |!{cms.content}
block footer
